/* Override some defaults */
html, body {
  background-color: #9DDCF9;
}
h1,h2,h3 {
	color:#2B3C90;
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.brand {
	font-family: 'Racing Sans One', cursive;
	text-shadow: 2px 2px 2px #eee;
}
/* The white background content wrapper */
.content {
  background-color: #FFF7E0;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
          border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #000;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}
a {
color: #2B3C90;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	
/* Caveman specific CSS */
.c-nav-top {
	list-style-type: none;
	position: relative;
	left: 0;
	display: block;
	float: right;
}
.c-nav-top > li {
	float: right;
	display: block;
	margin-left: 2em;
}
.c-navbar .brand {
	float: left;
	display: block;
}
.c-navbar .brand {
	font-size: 60px;
}
.c-navbar {
	padding-top: 2em;
}

img.framed {
	border-width: 0.5em;
	border-color: white;
	border-style: solid;
	box-shadow: 0 0 0.6em 0px black;
	max-width: 95%;
}
.banner-section {
	box-shadow: -10px 0px 5px -4px rgba(0, 0, 0, 0.1);
}
